@page
@model YorkDeveloperEvents.CreateGroupModel
@{
    ViewData["Title"] = "Create Group";
}


<h1>Create a new group</h1>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <table>
        <tr>
            <td><label for="CreateGroup_Slug">The unique ID for the group</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.CreateGroup.Slug" class="input100" /><span asp-validation-for="CreateGroup.Slug" class="error"></span></td>
        </tr>

        <tr>
            <td><label for="CreateGroup_Name">Name of the group</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.CreateGroup.Name" class="input100" /><span asp-validation-for="CreateGroup.Name" class="error"></span></td>
        </tr>

        <tr>
            <td><label for="CreateGroup_StrapLine">A strap line for the group</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.CreateGroup.StrapLine" class="input100" /><span asp-validation-for="CreateGroup.StrapLine" class="error"></span></td>
        </tr>

        <tr>
            <td><label for="CreateGroup_StartTimeUTC">Name of the channel in slack</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.CreateGroup.SlackChannelName" class="input100" /><span asp-validation-for="CreateGroup.SlackChannelName" class="error"></span></td>
        </tr>

        <tr>
            <td><label for="CreateGroup_EndTimeUTC">Is the group currently active?</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.CreateGroup.IsActive" class="input100" /><span asp-validation-for="CreateGroup.IsActive" class="error"></span></td>
        </tr>
        <tr>
            <td><label for="CreateGroup_Description">A description of the group (in markdown)</label></td>
        </tr>
        <tr>
            <td><textarea asp-for="@Model.CreateGroup.Description" rows="10" cols="50"></textarea><span asp-validation-for="CreateGroup.Description" class="error"></span></td>
        </tr>


        <tr>
            <td><label for="Upload">Logo for the group</label></td>
        </tr>
        <tr>
            <td>
                <input type="file" asp-for="Upload" />
            </td>
        </tr>

    </table>

    <button type="submit">Save Settings</button>
</form>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
