@page
@model YorkDeveloperEvents.EditEventModel
@{
    ViewData["Title"] = "Edit Event";
}


<h1>Amend event details</h1>

<form method="post">
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td><label for="UpdateEvent_Slug">The unique ID for the event</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.Slug" class="input100" /><span asp-validation-for="UpdateEvent.Slug"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_Title">Title of the event</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.Title" class="input100" /><span asp-validation-for="UpdateEvent.Title"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_StartTimeUTC">When does the event start?</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.StartTimeUTC" class="input100" /><span asp-validation-for="UpdateEvent.StartTimeUTC"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_EndTimeUTC">When does the event end?</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.EndTimeUTC" class="input100" /><span asp-validation-for="UpdateEvent.EndTimeUTC"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_Location">When will the event be held?</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.Location" class="input100" /><span asp-validation-for="UpdateEvent.Location"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_MaximumNumberOfAttendees">The maximum number of attendees for the event</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.MaximumNumberOfAttendees" class="input100" /><span asp-validation-for="UpdateEvent.MaximumNumberOfAttendees"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_GuestsAllowed">Can a member bring guests to the event?</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdateEvent.GuestsAllowed" class="input100" /><span asp-validation-for="UpdateEvent.GuestsAllowed"></span></td>
        </tr>

        <tr>
            <td><label for="UpdateEvent_Description">A description of the event (in markdown)</label></td>
        </tr>
        <tr>
            <td><textarea asp-for="@Model.UpdateEvent.Description" class="input100" rows="10" cols="50"></textarea><span asp-validation-for="UpdateEvent.Description"></span></td>
        </tr>
    </table>

    <button type="submit">Save Settings</button>
</form>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

