@page
@model YorkDeveloperEvents.MyEventsModel
@{
    ViewData["Title"] = "MyEvents";
}

<h1>You are signed up to the following events</h1>

<div class="text-center">
    <table>
        @foreach (var item in Model.ViewModel)
        {
            <tr>
                <td>@item.EventTitle - @item.EventStartsUTC - @item.EventFinishesUTC</td>
            </tr>
            <tr>
                <td>@item.GroupName</td>
            </tr>
            <tr>
                <td><markdown>@item.EventDescription</markdown></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><a href="/AmendRegistrationForEvent?groupSlug=@(item.GroupSlug)&eventSlug=@(item.EventSlug)">Change Registration</a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <form action="/UnregisterFromEvent" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="groupSlug" name="groupSlug" value="@item.GroupSlug" />
                        <input type="hidden" id="eventSlug" name="eventSlug" value="@item.EventSlug" />
                        <button type="submit">Unregister From Event</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        }
    </table>
</div>
