@page
@model YorkDeveloperEvents.NewUserModel
@{
    ViewData["Title"] = "NewUser";
}

<h1>Thankyou for joining York Developers.</h1>

You are now able to join our community and sign up for our events.  In order to complete the registration process could you please ensure that the details below are correct.

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td><label for="UpdatedDetails_Fullname">Your fullname</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdatedDetails.Fullname" class="input100" /><span asp-validation-for="UpdatedDetails.Fullname"></span></td>
        </tr>

        <tr>
            <td><label for="UpdatedDetails_DisplayName">Your screen name which is displayed to other users in Slack and this website</label></td>
        </tr>
        <tr>
            <td><input asp-for="@Model.UpdatedDetails.DisplayName" class="input100" /><span asp-validation-for="UpdatedDetails.DisplayName"></span></td>
        </tr>

        <tr>
            <td><label for="UpdatedDetails_Pronoun">You can optionally enter your preferred pronoun.  For example Him/His</label></td>
        </tr>

        <tr>
            <td><input asp-for="@Model.UpdatedDetails.Pronoun" class="input100" /><span asp-validation-for="UpdatedDetails.Pronoun"></span></td>
        </tr>

        <tr>
            <td><label for="UpdatedDetails_Bio"></label>A brief description about yourself.  For example I'm a PHP developer working in Leeds,  keen to learn more about MongoDB </td>
        </tr>

        <tr>
            <td><textarea asp-for="@Model.UpdatedDetails.Bio" class="input100" rows="10" cols="50"></textarea><span asp-validation-for="UpdatedDetails.Bio"></span></td>
        </tr>

        <tr>
            <td><label for="Upload">Change your profile picture</label></td>
        </tr>
        <tr>
            <td>
                <input type="file" asp-for="Upload" />
            </td>
        </tr>
    </table>

    <button type="submit">Save Settings</button>
</form>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

