@page
@model YorkDeveloperEvents.RegisterForEventModel
@{
    ViewData["Title"] = "RegisterForEvent";
}

<h1>Register For  @Model.CurrentRegistration.GroupName -  @Model.CurrentRegistration.EventTitle</h1>

<form action="/RegisterForEvent" method="post">
    @Html.AntiForgeryToken()


    @for (int i = 0; i < Model.CurrentRegistration.Answers.Count(); i++)
    {
        <partial name="_AskQuestion" for="CurrentRegistration.Answers[i]" />
    }

    <input name="EventSlug" type="hidden" value="@Model.EventSlug" />
    <input name="GroupSlug" type="hidden" value="@Model.GroupSlug" />
    <input name="CurrentlyRegistered" type="hidden" value="@(Model.CurrentlyRegistered ? "true" : "false")" />

    @if (Model.CurrentlyRegistered)
    {
        <button type="submit">Amend Registration</button>
    }
    else
    {
        <button type="submit">Register</button>
    }


</form>