@page
@model YorkDeveloperEvents.ViewGroupDetailsModel
@{
    ViewData["Title"] = "ViewGroupDetails";
}

<h1>@Model.ViewModel.Name</h1>

<img src="@Model.ViewModel.Logo" />
<markdown>@Model.ViewModel.Description</markdown>
<br />
<br />
<br />

@if (@Model.ViewModel.CanViewMembers)
{
    <a href="/ViewGroupMembers?groupSlug=@Model.ViewModel.Slug">View Members</a>
}

@if (@Model.ViewModel.CanAddEvents)
{
    <a href="/CreateNewEvent?groupSlug=@Model.ViewModel.Slug">Add New Event</a>
}

@*TODO Optionally hide button*@
<a href="/JoinGroup?groupSlug=@Model.ViewModel.Slug">Join Group</a>

@*TODO Optionally hide button*@
<a href="/AddGroupAdministrator?groupSlug=@Model.ViewModel.Slug">Add Group Administrator</a>

<h2>Future Events</h2>

<h2>Past Events</h2>