@page
@model YorkDeveloperEvents.ViewGroupDetailsModel
@{
    ViewData["Title"] = "ViewGroupDetails";
}

<h1>@Model.ViewModel.Name</h1>

<img src="@Model.ViewModel.Logo" />
<markdown>@Model.ViewModel.Description</markdown>
<br />
<br />
<br />

@if (@Model.ViewModel.CanViewMembers)
{
    <a href="/ViewGroupMembers?groupSlug=@Model.ViewModel.Slug">View Members</a>
}

@if (@Model.ViewModel.CanAddEvents)
{
    <a href="/CreateEvent?groupSlug=@Model.ViewModel.Slug">Add New Event</a>
}

@if (@Model.ViewModel.CanJoinGroup)
{
    <a href="/JoinGroup?groupSlug=@Model.ViewModel.Slug">Join Group</a>
}

@if (@Model.ViewModel.CanAddMembers)
{
    <a href="/AddGroupAdministrator?groupSlug=@Model.ViewModel.Slug">Add Group Administrator</a>
}

@if (@Model.ViewModel.CanLeaveGroup)
{
    <form action="/LeaveGroup" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="groupSlug" name="groupSlug" value="@Model.ViewModel.Slug" />
        <button type="submit">Leave Group</button>
    </form>
}

    <h2>Future Events</h2>

    <h2>Past Events</h2>
