@page
@model YorkDeveloperEvents.ViewGroupDetailsModel
@{
    ViewData["Title"] = "ViewGroupDetails";
}

<h1>@Model.ViewModel.Name</h1>

<img src="@Model.ViewModel.Logo" />
<markdown>@Model.ViewModel.Description</markdown>
<br />
<br />
<br />

<ul>
    @if (@Model.ViewModel.CanEditGroup)
    {
        <li><a href="/EditGroup?groupSlug=@Model.ViewModel.Slug">Edit Group Details</a></li>
    }

    @if (@Model.ViewModel.CanViewMembers)
    {
        <li><a href="/ViewGroupMembers?groupSlug=@Model.ViewModel.Slug">View Members</a></li>
    }

    @if (@Model.ViewModel.CanAddEvents)
    {
        <li><a href="/CreateEvent?groupSlug=@Model.ViewModel.Slug">Add New Event</a></li>
    }

    @if (@Model.ViewModel.CanJoinGroup)
    {
        <li><a href="/JoinGroup?groupSlug=@Model.ViewModel.Slug">Join Group</a></li>
    }

    @if (@Model.ViewModel.CanAddMembers)
    {
        <li><a href="/AddGroupAdministrator?groupSlug=@Model.ViewModel.Slug">Add Group Administrator</a></li>
    }
</ul>

@if (@Model.ViewModel.CanLeaveGroup)
{
    <form action="/LeaveGroup" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" id="groupSlug" name="groupSlug" value="@Model.ViewModel.Slug" />
        <button type="submit">Leave Group</button>
    </form>
}

<h2>Future Events</h2>
<ul>
    @foreach (var item in Model.FutureEvents)
    {
        <li>@item.EventStartsUTC - <a href="/ViewEventDetails?groupSlug=@Model.ViewModel.Slug&eventSlug=@item.EventSlug">@item.EventTitle</a></li>
    }
</ul>

<h2>Past Events</h2>
<ul>
    @foreach (var item in Model.PastEvents)
    {
        <li>@item.EventStartsUTC - <a href="/ViewEventDetails?groupSlug=@Model.ViewModel.Slug&eventSlug=@item.EventSlug">@item.EventTitle</a></li>
    }
</ul>